.button {
  margin-top: 12px;
  border-radius: 3px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border: 0.5px solid;
}

.buttondisabled {
  box-shadow: none;
  cursor: auto;
}

.button:active {
  transform: scale(0.9);
}

.buttonselected {
  background-color: #f1d0cd;
  border-color: #e09a94;
  font-weight: 700;
}

.buttondefault {
  background-color: #d9e7d5;
  border-color: #97b980;
}
