.container {
  display: flex;
  padding: 20;
  justify-content: space-between;
}

.eventContainer {
  flex: 0.5;
}
.headerText {
  font-size: 24px;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 1px
}

.eventsWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  flex: 0.5;
}
