body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  justify-content: space-between;
  /* background-color: #536c50; */
  margin: 10px;
  margin-bottom: 0;
  border-radius: 5px;
min-height: 100vh;
}

.eventContainer {
  flex: 0.5;
  border: 1px solid black;
  margin: 10px;
  border-radius: 5px;
  background-color: #536c50;
  
}
.headerText {
  font-size: 24px;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 1px;
  font-weight: 300;
}

.eventsWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  flex: 0.5;
}
